/* Standard layout three-col-right, for IE8 and below. Note that rounding errors may occur in IE7 and below. */
.two-sidebars .content-inner {margin-right: 31%; margin-left: 0;}
.sidebar-first .content-inner {margin-right: 30%; margin-left: 0;}
.sidebar-second .content-inner {margin-right: 1%; margin-left: 0;}
.region-sidebar-first {width: 30%; margin-left: -31%; margin-right: 0;}
.region-sidebar-second {width: 1%; margin-left: -1%; margin-right: 0; clear: none;}
.sidebar-first .region-sidebar-first {width: 30%; margin-left: -30%; margin-right: 0;}
.container {width: 100%; max-width: 1025px;}